PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=your_password
PG_DATABASE=hh_jobs_db

HH_TOKEN=

# Список компаний через запятую (используется по умолчанию)
COMPANIES=T-bank,Авито,Яндекс,СБК Контур,WBTech,СберТех,X5 Tech,Skyeng,Lamoda Tech,Альфа-Банк